@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --text-color: #333;
  --main-color: #ED3C24;
  
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #333;
  text-decoration: inherit;
}
a:hover {
  color: var(--main-color);
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 0.6rem;
}

.container {
  margin: 0 auto;
  padding: 30px 30px;
  /* max-width: 1440px; */
}